body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
}

.header {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  padding: 0 50px;
  height: 80px;
  overflow: hidden;
  transition: all 0.25s ease;
  z-index: 2;
  color: #111;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.header::after {
  content: "";
  display: block;
  height: 400px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 80px;
  z-index: -1;
}
.header::before {
  content: "";
  display: block;
  height: 80px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: -1;
}
.header.on {
  height: 400px;
}
.header .logo {
  height: 80px;
}
.header .logo a {
  display: flex;
  align-items: center;
  height: 80px;
}
.header .logo a img {
  height: 30px;
}
.header .gnb__list {
  display: flex;
  justify-content: center;
}
.header .gnb__list > li > a {
  font-size: 18px;
  font-weight: 700;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 40px;
}
.header .gnb__list--sub {
  color: #fff;
  padding: 30px 0;
}
.header .gnb__list--sub li:nth-child(1) {
  margin-top: 15px;
}
.header .gnb__list--sub li a {
  display: block;
  padding: 5px 0 5px 40px;
}
.header .language {
  display: flex;
  align-items: center;
  height: 80px;
}
.header .language span {
  font-size: 11px;
  padding: 0 5px;
}